<ul class="nav flex-column">
    <li class="nav-item mb-2">
        <a class="nav-link d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
            <ion-icon name="home-outline" class="me-2"></ion-icon> Home
        </a>
    </li>
    <li class="nav-item mb-2">
        <a class="nav-link d-flex align-items-center" asp-area="" asp-controller="Apartamento" asp-action="Apartamento">
            <ion-icon name="business-outline" class="me-2"></ion-icon> Apartamento
        </a>
    </li>
    <li class="nav-item mb-2">
        <a class="nav-link d-flex align-items-center" asp-area="" asp-controller="Morador" asp-action="Morador">
            <ion-icon name="person-outline" class="me-2"></ion-icon> Morador
        </a>
    </li>
    <li class="nav-item mb-2">
        <a class="nav-link d-flex align-items-center" href="@Url.Action("About", "Home")">
            <ion-icon name="chatbubble-outline" class="me-2"></ion-icon> Comunicação
        </a>
    </li>
    <li class="nav-item mb-2">
        <a class="nav-link d-flex align-items-center" href="@Url.Action("Contact", "Home")">
            <ion-icon name="calendar-outline" class="me-2"></ion-icon> Reservas
        </a>
    </li>
    <li class="nav-item mb-2">
        <a class="nav-link d-flex align-items-center" href="@Url.Action("Contact", "Home")">
            <ion-icon name="id-card-outline" class="me-2"></ion-icon> Portaria
        </a>
    </li>
    <li class="nav-item mb-2">
        <a class="nav-link d-flex align-items-center" href="@Url.Action("Contact", "Home")">
            <ion-icon name="wallet-outline" class="me-2"></ion-icon> Financeiro
        </a>
    </li>
</ul>
