@model Zelo.Models.MoradorRequest

@{
    ViewData["Title"] = "Novo Condômino";
}

<div class="p-4 title">
    <h2>Adicionar Condômino</h2>
</div>

<div class="mt-5 p-3">
    <div class="row">
        <div class="col-md-6">
            <form asp-action="MoradorCreate">
                <div class="row mb-4">
                    <label for="name" class="col-sm-2 col-form-label">Nome: </label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" id="name" placeholder="Nome Completo" asp-for="Nome">
                    </div>
                </div>

                <div class="row mb-4">
                    <label class="col-sm-2 col-form-label" for="cpf">CPF: </label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" id="cpf" placeholder="cpf" asp-for="Cpf">
                    </div>
                </div>

                <div class="row mb-4">
                    <label class="col-sm-2 col-form-label" for="email">Email: </label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" id="email" placeholder="E-mail" asp-for="Email">
                    </div>
                </div>
                <div class="row mb-4">
                    <label class="col-sm-2 col-form-label" for="phone">Telefone: </label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" id="phone" placeholder="Telefone" asp-for="Telefone">
                    </div>
                </div>
                <div class="row mb-4">
                    <label class="col-form-label col-sm-2" for="type">Tipo: </label>
                    <div class="col-sm-4">
                        <select class="form-select" asp-for="TipoMorador">
                            <option selected>Tipo de Condômino</option>
                            <option value="1">Proprietário</option>
                            <option value="2">Inquilino</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-12">
                        <div class="row">
                            <label class="col-form-label col-sm-2" for="type">Bloco: </label>
                            <div class="col-sm-3">
                                <select class="form-select" asp-for="ApartamentoId">
                                    <option value="">Selecione o apartamento</option>
                                    @foreach (var apt in ViewBag.Apartamentos)
                                    {
                                        <option value="@apt.Id">@apt.Descricao</option>
                                    }
                                </select>
                            </div>
                            <label class="col-form-label col-sm-1" for="type">Unidade: </label>
                            <div class="col-sm-3 ps-lg-4">
                                <select class="form-select">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-sm-9 pt-2">
                        <input type="submit" class="btn btn-success w-100 " value="Salvar Morador">
                    </div>
                </div>
            </form>
        </div>


        @if (ViewBag.Sucesso != null)
        {
            <div class="alert alert-primary mt-5">@ViewBag.Sucesso</div>
        }

        <div class="col-md-6 flex-wrap">
            <div class="header-div">
                <h5><ion-icon name="car" class="fs-4 pb-1"></ion-icon> Veiculos</h5>
            </div>
            <div class="card card-forms">
                <div class="card-header card-forms-header d-flex align-items-center justify-content-between">
                    <span>Adicionar Veículos</span>
                    <ion-icon name="add" id="addIcon"></ion-icon>
                </div>
                <div class="card-body" id="cardBody">

                </div>
            </div>
        </div>
    </div>
</div>
