<div class="p-4 title">
    <h2>Excluir Condômino</h2>
</div>

<div class="row mt-5">
    <form>
        <div class="row mb-4">
            <label for="cpf" class="col-sm-2 col-form-label">Buscar Condômino</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" id="cpf" placeholder="Digite o CPF">

            </div>
            <div class="col-sm-1">
                <button class="btn btn-primary" type="button" onclick="SearchMorador()">Buscar</button>
            </div>

        </div>
    </form>
</div>
