@{
    ViewData["Title"] = "Página Inicial - Zelo";
}




        <section class="col-12 col-md-10 p-4">
            <div class="container">
                <h2>Bem-vindo ao Zelo</h2>
                <h5>Boa tarde Jefferson</h5>


                
                <div class="d-flex flex-wrap justify-content-center gap-3 mt-5">
                    <a href="#" class="text-decoration-none">
                        <div class="card text-center bg-white text-dark" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title"><ion-icon name="business"></ion-icon> Apartamento</h5>
                                <p class="card-text">Gerencie informações do seu apartamento.</p>
                            </div>
                        </div>
                    </a>
                    <a class="text-decoration-none" asp-area="" asp-controller="Morador" asp-action="Morador">
                        <div class="card text-center bg-white text-dark" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title"> <ion-icon name="person"></ion-icon> Morador</h5>
                                <p class="card-text">Gerencie informações dos Condôminos</p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="text-decoration-none">
                        <div class="card text-center bg-white text-dark" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title"><ion-icon name="megaphone"></ion-icon> Comunicação</h5>
                                <p class="card-text">Portal de Comunicação do Condomínio</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="d-flex flex-wrap justify-content-center gap-3 mt-5">

                    <a href="#" class="text-decoration-none">
                        <div class="card text-center bg-white text-dark" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title"><ion-icon name="calendar"></ion-icon> Reservas</h5>
                                <p class="card-text">Gerencie reservas de áreas comuns do Condomínio</p>
                            </div>
                        </div>
                    </a>

                    <a href="#" class="text-decoration-none">
                        <div class="card text-center bg-white text-dark" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title"><ion-icon name="id-card"></ion-icon> Portaria</h5>
                                <p class="card-text">Informações com a portaria do Condominio</p>
                            </div>
                        </div>
                    </a>

                    <a href="#" class="text-decoration-none">
                        <div class="card text-center bg-white text-dark" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title"><ion-icon name="wallet"></ion-icon> Financeiro</h5>
                                <p class="card-text">Acesso a Área Financeira, Contas a pagar e a receber</p>
                            </div>
                        </div>
                    </a>
                </div>
        </section>

